{% comment %}
  © 2025 KondaSoft
  https://www.kondasoft.com
{% endcomment %}

{% form 'customer', class: 'newsletter-form' %}
  <input type="hidden" name="contact[tags]" value="newsletter">
  {{ form.errors | default_errors }}
  {% if form.posted_successfully? %}
    <p class="alert" data-alert-type="success" role="alert">
      {{ 'general.newsletter.confirmation_text' | t }}
    </p>
  {% endif %}
  <div class="input-wrapper">
    <input
      class="input"
      type="email"
      name="contact[email]"
      size="30"
      value="{% if customer.email != blank %}{{ customer.email }}{% endif %}"
      aria-label="{{ 'general.newsletter.input_label' | t }}"
      placeholder="{{ 'general.newsletter.input_label' | t }}"
      autocorrect="off"
      autocapitalize="off"
    >
    <button
      class=""
      type="submit"
      name="commit"
      data-btn-style="{{ section.settings.btn_style }}"
      aria-label="{{ 'general.newsletter.submit_button' | t }}"
    >
      <svg width="22" height="22" viewBox="0 0 512 512" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <path d="M28,61 C28,161.710136 28,212.065204 28,212.065204 C28,212.065204 351.044692,255.885938 351.044692,255.885938 C351.044692,255.885938 243.363128,270.4319 28,299.523824 L28,451 L483.555218,256 L28,61 Z" fill="currentColor"></path>
        </g>
      </svg>
    </button>
  </div>
{% endform %}
