{% comment %}
  © 2025 KondaSoft
  https://www.kondasoft.com 
{% endcomment %}
 
{% if settings.product_card_color_swatches %}
  {% liquid
    for option in product.options_with_values
      if option.values.first.swatch
        assign color_swatches = option.values
        assign color_swatch_name = option.name
      endif
    endfor
  %}
  {% if color_swatches %}
    <product-card-color-swatches
      class="product-card-color-swatches">
      <ul
        class="color-swatches"
        aria-label="{{ 'product.color_options' | t }}"
      >
        {% for value in color_swatches %}
          {% liquid
            assign swatch_variant = null
            assign variants = product.variants | reverse
            for variant in variants
              if variant.title contains value
                assign swatch_variant = variant
              endif
            endfor
          %}
          <li class="">
            <input
              id="color-swatch-{{ section.id }}-{{ product.id }}-{{ value | handleize }}"
              class="visually-hidden"
              type="radio"
              name="color-swatch-{{ section.id }}-{{ product.id }}"
              value="{{ value | escape }}"
              data-option-name="{{ color_swatch_name }}"
              data-variant-image="
                {%- if swatch_variant.image -%}
                  {%- render 'product-card-img', image: swatch_variant.image, only_src: true -%}
                {%- endif -%}
              "
              data-variant-id="{{ swatch_variant.id }}"
              aria-label="{{ value }}"
            >
            <label
              for="color-swatch-{{ section.id }}-{{ product.id }}-{{ value | handleize }}"
              title="{{ value }}"
            >
              <span style="background-color: {{ value.swatch.color }};">
                {% if value.swatch.image %}
                  <img
                    class="img-fluid"
                    src="{{ value.swatch.image | image_url: width: 32, height: 32, crop: 'center' }}"
                    alt="{{ value | escape }}"
                    width="18"
                    height="18"
                    loading="lazy"
                    aria-hidden="true"
                  >
                {% endif %}
              </span>
            </label>
          </li>
        {% endfor %}
      </ul>
    </product-card-color-swatches>
  {% endif %}
{% endif %}