{% comment %}
  © 2025 KondaSoft
  https://www.kondasoft.com
{% endcomment %}

<div
  id="product-block-{{ block.id }}"
  class="product-block"
  style="
    --padding-top: {{ block.settings.padding_top | append: 'rem' }};
    --padding-bottom: {{ block.settings.padding_bottom | append: 'rem' }};
  "
  data-type="{{ block.type }}"
  {{ block.shopify_attributes }}
>
  {{ block.settings.liquid }}
</div>
