{% comment %}
  © 2025 KondaSoft
  https://www.kondasoft.com
{% endcomment %}

{% liquid
  assign prefers_dark_scheme = false

  for scheme in settings.color_schemes
    if forloop.first
      assign bg_brightness = scheme.settings.background | color_brightness
      if bg_brightness < 150
        assign prefers_dark_scheme = true
      endif
    endif
  endfor
%}

 
<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {% render 'theme-head' %}
    {{ content_for_header }}
    {% render 'styles-scripts' %}
  </head>
  <body
    data-prefers-dark-scheme="{{ prefers_dark_scheme }}"
    data-scroll-animations="{{ settings.scroll_animations }}"
    data-design-mode="{{ request.design_mode }}">
    <main id="main">
      {{ content_for_layout }}
    </main>
  </body>
</html>
