{% comment %}
  © 2025 KondaSoft
  https://www.kondasoft.com
{% endcomment %}
 
{% if section.index <= 3 or request.design_mode %}
  <link href="{{ 'card-slider.css' | asset_url }}" rel="stylesheet" fetchpriority="high">
{% endif %}

<div
  id="card-slider-{{ section.id }}" 
  class="card-slider {{ section.settings.color_scheme | prepend: 'color-' }} "
  style="
    --padding-top: {{ section.settings.padding_top | append: 'rem' }};
    --padding-bottom: {{ section.settings.padding_bottom | append: 'rem' }};
  "
  data-viewport-entered="false"
  data-section-css="{{- 'card-slider.css' | asset_url -}}"
>
  <div class="container {% if section.settings.full_width %}container-full{% endif %}">
    {% unless section.settings.heading == blank %}
      <header class="section-header scroll-animate-fade-in-up text-{{ section.settings.header_alignment }}">
        {% unless section.settings.heading == blank %}
          <h2
            id="heading-{{ section.id }}"
            class="heading {{ section.settings.heading_size }}"
          >
            {{ section.settings.heading }}
          </h2>
        {% endunless %}
        {% unless section.settings.description == blank %}
          <div class="description rte {{ section.settings.description_font_size }}">
            {{ section.settings.description }}
          </div>
        {% endunless %}
      </header>
    {% endunless %}
    <carousel-component
      class="carousel"
      style="
        --mobile-cols: {{ section.settings.carousel_mobile_cols }};
        --desktop-cols: {{ section.settings.carousel_desktop_cols }};
      "
      data-mobile-cols="{{ section.settings.carousel_mobile_cols }}"
      data-desktop-cols="{{ section.settings.carousel_desktop_cols }}"
      data-mobile-stack="{{ section.settings.carousel_mobile_stack }}"
      data-desktop-stack="{{ section.settings.carousel_desktop_stack }}"
      data-controls-style="{{ section.settings.carousel_controls_style }}"
      data-controls-mobile="{{ section.settings.show_controls_on_mobile }}"
    >
      <div class="carousel-inner">
        <button
          class="carousel-control"
          name="previous"
          type="button"
          aria-label="{{ 'accessibility.previous_slide' | t }}"
        >
          {% render 'svg-icons', icon: 'chevron-left', stroke_width: 1.5, size: 22 %}
        </button>
        <ul
          class="carousel-track"
          aria-labelledby="heading-{{ section.id }}"
          aria-roledescription="{{ 'accessibility.carousel' | t | downcase }}"
        >
          {% for block in section.blocks %}
            {% liquid
              case section.settings.item_img_ratio
                when 'adapt'
                  assign img_width = 600
                  assign img_height = 600 | divided_by: block.settings.img.aspect_ratio | round
                when '1x1'
                  assign img_width = 600
                  assign img_height = 600
                when '4x3'
                  assign img_width = 600
                  assign img_height = 600 | times: 3 | divided_by: 4 | round
                when '16x9'
                  assign img_width = 600
                  assign img_height = 600 | times: 9 | divided_by: 16 | round
                when '3x4'
                  assign img_width = 600 | times: 3 | divided_by: 4 | round
                  assign img_height = 600
                when '9x16'
                  assign img_width = 600 | times: 9 | divided_by: 16 | round
                  assign img_height = 600
              endcase
            %}
            <li
              class="carousel-slide card-slider-item scroll-animate-fade-in-up"
              style="animation-delay: {{ forloop.index0 | times: 0.1 }}s"
              {{ block.shopify_attributes }}
            >
              <div 
                class="card {{ section.settings.item_color_scheme | prepend: 'color-' }}"
                style="
                  --text-align: {{ section.settings.item_text_align }};
                "
                data-border="{{ section.settings.item_border }}"
                data-shadow="{{ section.settings.item_shadow }}"
                data-align="{{ section.settings.item_text_align }}"
              >
                {% unless block.settings.img == blank %}
                  <div class="img-wrapper">
                    <img
                      src="{{ block.settings.img | image_url: width: img_width, height: img_height, crop: 'center' }}"
                      alt="{{ block.settings.img.alt | escape }}"
                      class="card-img"
                      width="{{ img_width }}"
                      height="{{ img_height }}"
                      loading="lazy">
                  </div>
                {% endunless %}
                {% if block.settings.heading != blank or block.settings.descripton != blank %}
                  <div class="card-body">
                    {% unless block.settings.heading == blank %}
                      <h3 class="heading {{ section.settings.item_heading_size }}">
                        {{ block.settings.heading }}
                      </h3>
                    {% endunless %}
                    {% unless block.settings.description == blank %}
                      <div class="description rte {{ section.settings.item_description_font_size }}">
                        {{ block.settings.description }}
                      </div>
                    {% endunless %}
                    {% unless block.settings.btn_text == blank %}
                      <a 
                        href="{{ block.settings.btn_url }}"
                        class="btn btn-sm btn-full {{ section.settings.item_btn_style }}">
                        {{ block.settings.btn_text }}
                      </a>
                    {% endunless %}
                  </div>
                {% endif %}
              </div>
            </li>
          {% endfor %}
        </ul>
        <button
          class="carousel-control"
          name="next"
          type="button"
          aria-label="{{ 'accessibility.next_slide' | t }}"
        >
          {% render 'svg-icons', icon: 'chevron-right', stroke_width: 1.5, size: 22 %}
        </button>
      </div>
      {% if section.settings.show_pagination %}
        <div
          class="carousel-pagination"
          aria-live="polite"
          aria-atomic="true"
          aria-label="{{ 'accessibility.pagination' | t }}"
        >
          <span>-</span>
        </div>
      {% endif %}
    </carousel-component>
  </div>
</div>

{% schema %}
{
  "name": "Card slider",
  "tag": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-2"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width",
      "default": false
    },
    {
      "type": "header",
      "content": "Header"
    },
    {
      "type": "text_alignment",
      "id": "header_alignment",
      "label": "Alignment",
      "default": "left"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "Heading",
      "default": "Card slider/list"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "Heading size",
      "default": "h3",
      "options": [
        { "value": "h1", "label": "H1" },
        { "value": "h2", "label": "H2" },
        { "value": "h3", "label": "H3" },
        { "value": "h4", "label": "H4" },
        { "value": "h5", "label": "H5" },
        { "value": "h6", "label": "H6" }
      ]
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description (optional)",
      "default": "<p>An optional description for this section</p>"
    },
    {
      "type": "select",
      "id": "description_font_size",
      "label": "Description font-size",
      "default": "fs-md",
      "options": [
        { "value": "fs-sm", "label": "sm" },
        { "value": "fs-md", "label": "md" },
        { "value": "fs-lg", "label": "lg" },
        { "value": "fs-xl", "label": "xl" }
      ]
    },
    {
      "type": "header",
      "content": "Carousel"
    },
    {
      "type": "range",
      "id": "carousel_mobile_cols",
      "label": "Mobile columns",
      "default": 1,
      "min": 1,
      "max": 3,
      "step": 1
    },
    {
      "type": "range",
      "id": "carousel_desktop_cols",
      "label": "Desktop columns",
      "default": 4,
      "min": 2,
      "max": 6,
      "step": 1
    },
    {
      "type": "checkbox",
      "id": "carousel_mobile_stack",
      "label": "Stack on mobile",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "carousel_desktop_stack",
      "label": "Stack on desktop",
      "default": false
    },
    {
      "type": "select",
      "id": "carousel_controls_style",
      "label": "Controls style",
      "options": [
        { "value": "minimal", "label": "Minimal" },
        { "value": "outline", "label": "Outline" },
        { "value": "inverted", "label": "Inverted" },
        { "value": "accent", "label": "Accent" }
      ],
      "default": "outline"
    },
    {
      "type": "checkbox",
      "id": "show_controls_on_mobile",
      "label": "Show controls on mobile",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_pagination",
      "label": "Show pagination counter",
      "default": true
    },
    {
      "type": "header",
      "content": "Item"
    },
    {
      "type": "color_scheme",
      "id": "item_color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "item_border",
      "label": "Border",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "item_shadow",
      "label": "Shadow",
      "default": false
    },
    {
      "type": "text_alignment",
      "id": "item_text_align",
      "label": "Text align",
      "default": "left"
    },
    {
      "type": "select",
      "id": "item_img_ratio",
      "label": "Image ratio",
      "default": "16x9",
      "options": [
        { "group": "Adapt", "value": "adapt", "label": "Adapt" },
        { "group": "Square", "value": "1x1", "label": "1x1" },
        { "group": "Horizontal", "value": "4x3", "label": "4x3" },
        { "group": "Horizontal", "value": "16x9", "label": "16x9" },
        { "group": "Vertical", "value": "3x4", "label": "3x4" },
        { "group": "Vertical", "value": "9x16", "label": "9x16" }
      ]
    },
    {
      "type": "select",
      "id": "item_heading_size",
      "label": "Heading size",
      "default": "fs-xl",
      "options": [
        { "value": "fs-sm", "label": "sm" },
        { "value": "fs-md", "label": "md" },
        { "value": "fs-lg", "label": "lg" },
        { "value": "fs-xl", "label": "xl" },
      ]
    },
    {
      "type": "select",
      "id": "item_description_font_size",
      "label": "Description font-size",
      "default": "fs-md", 
      "options": [
        { "value": "fs-sm", "label": "sm" },
        { "value": "fs-md", "label": "md" },
        { "value": "fs-lg", "label": "lg" },
        { "value": "fs-xl", "label": "xl" },
      ]
    },
    {
      "type": "select",
      "id": "item_btn_style",
      "label": "Button style",
      "default": "btn-outline",
      "options": [
        { "value": "btn-primary", "label": "Primary" },
        { "value": "btn-outline", "label": "Outline" },
        { "value": "btn-accent", "label": "Accent" },
        { "value": "btn-link", "label": "Link" }
      ]
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Top",
      "min": 0,
      "max": 5,
      "step": 0.2,
      "default": 2,
      "unit": "rem"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Bottom",
      "min": 0,
      "max": 5,
      "step": 0.2,
      "default": 2,
      "unit": "rem"
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "img",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "text",
          "id": "btn_text",
          "label": "Button text",
          "default": "Learn more",
          "info": "Leave empty to disable"
        },
        {
          "type": "url",
          "id": "btn_url",
          "label": "Button URL",
          "visible_if": "{{ block.settings.btn_text != blank }}"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "presets": [
    {
      "name": "Card slider",
      "category": "Content",
      "blocks": [
        {
          "type": "item",
          "settings": {
            "heading": "First Card",
            "description": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec massa velit, sagittis nec pharetra id, iaculis non sapien.</p>"
          }
        },
        {
          "type": "item",
          "settings": {
            "heading": "Second Card",
            "description": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec massa velit, sagittis nec pharetra id, iaculis non sapien.</p>"
          }
        },
        {
          "type": "item",
          "settings": {
            "heading": "Third Card",
            "description": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec massa velit, sagittis nec pharetra id, iaculis non sapien.</p>"
          }
        },
        {
          "type": "item",
          "settings": {
            "heading": "Fourth Card",
            "description": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec massa velit, sagittis nec pharetra id, iaculis non sapien.</p>"
          }
        },
        {
          "type": "item",
          "settings": {
            "heading": "Fifth Card",
            "description": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec massa velit, sagittis nec pharetra id, iaculis non sapien.</p>"
          }
        },
        {
          "type": "item",
          "settings": {
            "heading": "Sixth Card",
            "description": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec massa velit, sagittis nec pharetra id, iaculis non sapien.</p>"
          }
        }
      ]
    }
  ]
}
{% endschema %}