{% comment %}
  © 2025 KondaSoft
  https://www.kondasoft.com
{% endcomment %}
 
{% if section.index <= 3 or request.design_mode %}
  <link href="{{ 'collection-list.css' | asset_url }}" rel="stylesheet" fetchpriority="high">
{% endif %}

<div
  id="collection-list-{{ section.id }}" 
  class="collection-list {{ section.settings.color_scheme | prepend: 'color-' }}"
  style="
    --padding-top: {{ section.settings.padding_top | append: 'rem' }};
    --padding-bottom: {{ section.settings.padding_bottom | append: 'rem' }};
  "
  data-viewport-entered="false"
  data-section-css="{{- 'collection-list.css' | asset_url -}}"
>
  <div class="container {% if section.settings.full_width %}container-full{% endif %}">
    {% unless section.settings.heading == blank %}
      <header
        class="section-header scroll-animate-fade-in-up text-{{ section.settings.header_alignment }}"
        data-has-view-all="{% if section.settings.view_all_link != blank %}true{% else %}false{% endif %}"
      >
        <div class="section-header-inner">
          {% unless section.settings.heading == blank %}
            <h2
              id="heading-{{ section.id }}"
              class="heading {{ section.settings.heading_size }}"
            >
              {{ section.settings.heading }}
            </h2>
          {% endunless %}
          {% unless section.settings.description == blank %}
            <div class="description rte {{ section.settings.description_font_size }}">
              {{ section.settings.description }}
            </div>
          {% endunless %}
        </div>
        {% if section.settings.view_all_link != blank %}
          <div class="featured-collection-view-all">
            <a
              href="{{ routes.collections_url }}"
              class="fs-md link"
            >
              {{ section.settings.view_all_link }}
            </a>
          </div>
        {% endif %}
      </header>
    {% endunless %}
    <carousel-component
      class="carousel"
      style="
        --mobile-cols: {{ section.settings.carousel_mobile_cols }};
        --desktop-cols: {{ section.settings.carousel_desktop_cols }};
      "
      data-mobile-cols="{{ section.settings.carousel_mobile_cols }}"
      data-desktop-cols="{{ section.settings.carousel_desktop_cols }}"
      data-mobile-stack="{{ section.settings.carousel_mobile_stack }}"
      data-desktop-stack="{{ section.settings.carousel_desktop_stack }}"
      data-controls-style="{{ section.settings.carousel_controls_style }}"
      data-controls-mobile="{{ section.settings.show_controls_on_mobile }}"
    >
      <div class="carousel-inner">
        <button
          class="carousel-control"
          name="previous"
          type="button"
          aria-label="{{ 'accessibility.previous_slide' | t }}"
        >
          {% render 'svg-icons', icon: 'chevron-left', stroke_width: 1.5, size: 22 %}
        </button>
        <ul
          class="carousel-track"
          aria-labelledby="heading-{{ section.id }}"
          aria-roledescription="{{ 'accessibility.carousel' | t | downcase }}"
        >
          {% for block in section.blocks %}
            {% assign collection = block.settings.collection %}
            <li
              class="carousel-slide collection-item scroll-animate-fade-in-up"
              style="animation-delay: {{ forloop.index0 | times: 0.1 }}s"
              {{ block.shopify_attributes }}
            >
              {% render 'collection-card', collection: collection, block: block, index: forloop.index %}
            </li>
          {% else %}
            {% for index in (1..6) %}
              <li
                class="carousel-slide collection-item scroll-animate-fade-in-up"
                style="animation-delay: {{ forloop.index0 | times: 0.1 }}s"
              >
                {% render 'collection-card', index: forloop.index %}
              </li>
            {% endfor %}
          {% endfor %}
        </ul>
        <button
          class="carousel-control"
          name="next"
          type="button"
          aria-label="{{ 'accessibility.next_slide' | t }}"
        >
          {% render 'svg-icons', icon: 'chevron-right', stroke_width: 1.5, size: 22 %}
        </button>
      </div>
      {% if section.settings.show_pagination %}
        <div
          class="carousel-pagination"
          aria-live="polite"
          aria-atomic="true"
          aria-label="{{ 'accessibility.pagination' | t }}"
        >
          <span>-</span>
        </div>
      {% endif %}
    </carousel-component>
  </div>
</div>

{% schema %}
{
  "name": "Collection list",
  "tag": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width",
      "default": false
    },
    {
      "type": "text",
      "id": "view_all_link",
      "label": "\"View all\" link text",
      "info": "Optional link to the collections page. Leave blank to hide.",
      "default": "View all"
    },
    {
      "type": "header",
      "content": "Header"
    },
    {
      "type": "text_alignment",
      "id": "header_alignment",
      "label": "Alignment",
      "default": "left"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "Heading",
      "default": "Collection List",
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "Heading size",
      "default": "h3",
      "options": [
        { "value": "h1", "label": "H1" },
        { "value": "h2", "label": "H2" },
        { "value": "h3", "label": "H3" },
        { "value": "h4", "label": "H4" },
        { "value": "h5", "label": "H5" },
        { "value": "h6", "label": "H6" }
      ]
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description (optional)",
      "default": "<p>An optional description for this section</p>"
    },
    {
      "type": "select",
      "id": "description_font_size",
      "label": "Description font-size",
      "default": "fs-md",
      "options": [
        { "value": "fs-sm", "label": "sm" },
        { "value": "fs-md", "label": "md" },
        { "value": "fs-lg", "label": "lg" },
        { "value": "fs-xl", "label": "xl" }
      ]
    },
    {
      "type": "header",
      "content": "Carousel"
    },
    {
      "type": "range",
      "id": "carousel_mobile_cols",
      "label": "Mobile columns",
      "default": 1,
      "min": 1,
      "max": 3,
      "step": 1
    },
    {
      "type": "range",
      "id": "carousel_desktop_cols",
      "label": "Desktop columns",
      "default": 3,
      "min": 2,
      "max": 6,
      "step": 1
    },
    {
      "type": "checkbox",
      "id": "carousel_mobile_stack",
      "label": "Stack on mobile",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "carousel_desktop_stack",
      "label": "Stack on desktop",
      "default": true
    },
    {
      "type": "select",
      "id": "carousel_controls_style",
      "label": "Controls style",
      "options": [
        { "value": "minimal", "label": "Minimal" },
        { "value": "outline", "label": "Outline" },
        { "value": "inverted", "label": "Inverted" },
        { "value": "accent", "label": "Accent" }
      ],
      "default": "outline"
    },
    {
      "type": "checkbox",
      "id": "show_controls_on_mobile",
      "label": "Show controls on mobile",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_pagination",
      "label": "Show pagination counter",
      "default": true
    },
    {
      "type": "header",
      "content": "Collection Card"
    },
    {
      "type": "text_alignment",
      "id": "collection_card_alignment",
      "label": "Alignment",
      "default": "left"
    },
    {
      "type": "select",
      "id": "collection_card_img_ratio",
      "label": "Image ratio",
      "default": "4x3",
      "options": [
        { "group": "Adapt", "value": "adapt", "label": "Adapt" },
        { "group": "Square", "value": "square", "label": "Square" },
        { "group": "Horizontal", "value": "4x3", "label": "4x3" },
        { "group": "Horizontal", "value": "16x9", "label": "16x9" },
        { "group": "Vertical", "value": "3x4", "label": "3x4" },
        { "group": "Vertical", "value": "9x16", "label": "9x16" }
      ]
    },
    {
      "type": "checkbox",
      "id": "collection_card_show_title",
      "label": "Show title",
      "default": true
    },
    {
      "type": "select",
      "id": "collection_card_title_style",
      "label": "Title style",
      "default": "overlay",
      "options": [
        { "value": "default", "label": "Default" },
        { "value": "overlay", "label": "Overlay" },
      ]
    },
    {
      "type": "select",
      "id": "collection_card_title_font_size",
      "label": "Title font-size",
      "default": "fs-lg",
      "options": [
        { "value": "fs-sm", "label": "sm" },
        { "value": "fs-md", "label": "md" },
        { "value": "fs-lg", "label": "lg" },
        { "value": "fs-xl", "label": "xl" }
      ]
    },
    {
      "type": "select",
      "id": "collection_card_title_font",
      "label": "Title font",
      "default": "headings",
      "options": [
        { "value": "headings", "label": "Headings" },
        { "value": "body", "label": "Body" }
      ]
    },
    {
      "type": "select",
      "id": "collection_card_title_text_transform",
      "label": "Title text-transform",
      "default": "capitalize",
      "options": [
        { "value": "none", "label": "None" },
        { "value": "capitalize", "label": "Capitalize" },
        { "value": "lowercase", "label": "Lowercase" },
        { "value": "uppercase", "label": "Uppercase" }
      ]
    },
    {
      "type": "range",
      "id": "collection_card_title_letter_spacing",
      "label": "Letter spacing",
      "min": 0,
      "max": 10,
      "step": 1,
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "collection_card_show_product_count",
      "label": "Show product count",
      "default": true
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Top",
      "min": 0,
      "max": 5,
      "step": 0.2,
      "default": 2,
      "unit": "rem"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Bottom",
      "min": 0,
      "max": 5,
      "step": 0.2,
      "default": 2,
      "unit": "rem"
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
       },
       {
          "type": "image_picker",
          "id": "img",
          "label": "Image",
          "info": "Leave empty to use the default collection image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "info": "Leave empty to use the default collection title"
        }
      ]
    },
  ],
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "presets": [
    {
      "name": "Collection list",
      "category": "Collection",
      "blocks": [
        { "type": "collection" },
        { "type": "collection" },
        { "type": "collection" },
        { "type": "collection" },
        { "type": "collection" },
        { "type": "collection" }
      ]
    }
  ]
}
{% endschema %}