{% comment %}
  © 2025 KondaSoft
  https://www.kondasoft.com
{% endcomment %}
 
<style>
  #password-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 2rem 0;
    box-sizing: border-box;
    background-color: rgba(var(--color-background), 1);
    background-image: var(--color-background-gradient);
    color: rgba(var(--color-text), 1);
  }

  #password-page-logo {
    text-align: center;
    margin-bottom: 1rem;
  }

  #password-page .card {
    margin-bottom: 1rem;
    text-align: center;
  }

  #password-page ul.social-icons {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  #password-page ul.social-icons a {
    display: flex;
    padding: 0.5rem;
    border-radius: 50%;
    transition: all 0.2s ease-out;
  }

  @media (max-width: 1199px) {
    #password-page .card .form-group {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }

  @media (min-width: 1208px) {
    #password-page .card .form-group {
      display: flex;
      gap: 0.5rem;
    }
  }
</style>
   
<div 
  id="password-page"
  class="{{ section.settings.color_scheme | prepend: 'color-' }}"
  data-viewport-entered="false">
  <div class="container container-narrow">
    <div 
      id="password-page-logo"
      class="scroll-animate-fade-in-up">
      {% render 'header-logo', height: section.settings.logo_height %}
    </div>
    <div 
      class="card scroll-animate-fade-in-up {{ section.settings.card_color_scheme | prepend: 'color-' }}"
      style="animation-delay: 200ms;">
      <div class="card-body">
        {% unless shop.password_message == blank %}
          <p class="fs-lg">
            {{ shop.password_message }}
          </p>
        {% endunless %} 
        {% form 'storefront_password' %}
          {{ form.errors | default_errors }}
          <div class="form-group">
            <input 
              class="input" 
              type="password" 
              name="password"
              placeholder="{{ 'general.password_page.input_label' | t }}"
              aria-label="{{ 'general.password_page.input_label' | t }}">
              <button class="btn btn-primary" type="submit"> 
              {{ 'general.password_page.btn_label' | t }}
            </button>
          </div>
        {% endform %}
      </div>
    </div>
    {% if section.settings.social_icons %}
      <div 
        class="social-icons-wrapper text-center scroll-animate-fade-in-up"
        style="animation-delay: 400ms;">
        {% render 'social-icons', icon_size: 18 %}
      </div>
    {% endif %}
  </div>
</div>
  
{% schema %}
  {
    "name": "Password",
    "tag": "section",
    "settings": [
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "Color scheme",
        "default": "scheme-2",
      },
      {
        "type": "color_scheme",
        "id": "card_color_scheme",
        "label": "Card color-scheme",
        "default": "scheme-1",
      },
      {
        "type": "range",
        "id": "logo_height",
        "label": "Logo height",
        "min": 10,
        "max": 100,
        "step": 2,
        "default": 40,
        "info": "Select your logo in [theme settings](\/editor?context=theme&category=logo)"
      },
      {
        "type": "checkbox",
        "id": "social_icons",
        "label": "Show social icons",
        "default": true
      }
    ],
    "enabled_on": {
      "templates": ["password"],
    },
    "presets": [
      {
        "name": "Password",
      }
    ]
  }
  {% endschema %}